.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.column-item {
  border: 1px solid #c1bfbd;
  width: 400px;
}

.doneColumn {
  justify-content: space-between;
  display: flex;
}

.filter-buttons {
  gap: 5px;
  display: flex;
}

.active-filter {
  background-color: #e6d5bd;
}

